boxscores/

data-env/

kanghee-env/

linescores/
linescores_new/
player_images/
players_stat/
team_images/
teamstandings/
teamstats/
team_ids/
match_ids/
players_id/
logs/
*.log
*.out
.env
.gitlab-ci.yml