.appbar {
  height: 60px;
  background-color: rgb(6, 31, 77);
  color: white;
  z-index: 10;
  width: 100%;
  display: flex;
  font-weight: 100 !important;
  justify-content: space-around;
  font-family: "Black Han Sans", sans-serif !important;
}

.mark {
  width: 160px;
  padding: 10px;
}
