.customCalendar {
  display: flex;
  align-items: center;
  border: 1px solid gainsboro;
  border-radius: 4px;
  background-color: grey;
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  color: whitesmoke;
  text-align: center;
  padding-right: 14px;

  &:focus {
    border: 2px solid orange;
  }
}