// .main-content01 {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
// }

// .mainphoto {
//   width: 1000px;
//   padding: 0 auto;
// }
body {
}
.grid-container {
  display: grid;
  grid-template-columns: 10% 20% auto;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

// .main {
//   margin-top: 100px;
// }

.gametime {
  border: 1px solid #eeebeb;
  background: #eeebeb;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  height: 200px;
  margin-top: 10px;
  display: flex;
  // justify-content: center;
  align-items: center;
}

.teamrank {
  width: 770px;
  border: 1px solid #eeebeb;
  background: #eeebeb;
  border-radius: 10px;
  margin: 20px;
  height: 100%;
}

.rank {
  width: 400px;
  border: 1px solid #eeebeb;
  background: #eeebeb;
  border-radius: 10px;
  margin: 20px;
  // margin-top: 40px;
}

.one_game {
  // border: 1px solid;
  border-radius: 10px;
  width: 30%;
  height: 70%;
  margin: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .player_img {
//   width: 50px;
// }
