@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Serif+KR:wght@200&family=Orbit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&family=Orbit&display=swap");

body {
}

.match_team1 {
  border: 5px solid rgb(6, 31, 77);
  border-radius: 10px;
  margin: 20px;
  width: 500px;
  padding: 10px;
  text-align: center;
}

.match_team2 {
  border: 5px solid rgb(6, 31, 77);
  border-radius: 10px;
  margin: 20px;
  width: 500px;
  padding: 10px;
  text-align: center;
}

.team_name_match {
  font-size: 30px;
  font-family: "Black Han Sans", sans-serif !important;
  text-align: center;
}

.team_name_match2 {
  font-size: 50px;
  font-family: "Black Han Sans", sans-serif !important;
  text-align: center;
}

.playerinfo_match {
  border: 1px solid;
}

/* 모달 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경을 반투명하게 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* 다른 요소 위에 나타나도록 설정 */
}

/* 모달 내용 스타일 */
.modal-content {
  display: flex;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* 모달 내 닫기 버튼 스타일 */
.modal-close-button {
  background-color: rgb(6, 31, 77);
  /* height: 100px; */
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* 모달 내 닫기 버튼 호버 스타일 */
.modal-close-button:hover {
  background-color: rgba(6, 31, 77, 0.785);
}
.onebox {
  border: 1px solid rgb(6, 31, 77);
  margin: 10px;
  /* background-color: rgb(6, 31, 77); */
  /* color: white; */
  padding: 5px;
  border-radius: 10px;
}

.modalbutton {
  font-size: 18px;
  font-weight: bolder;
  justify-content: center;
  /* margin: 10px; */
  display: flex;
  background-color: rgb(6, 31, 77);
  color: white;
  padding: 10px;
}
