@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Serif+KR:wght@200&family=Orbit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&family=Orbit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@200&display=swap");

.my_profile {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // align-items: center;
  border: 3px solid rgb(6, 31, 77);
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  display: flex;
}

.followList {
  border: 3px solid rgb(6, 31, 77);
  border-radius: 10px;
  width: 80%;
  margin-top: 20px !important;
  margin: 0 auto;
  padding: 30px;
}

.profileImage {
  height: 10%;
  width: 10%;
  border-radius: 50%;
  // margin: 0 auto;
}
body {
  color: black;
  font-family: "IBM Plex Sans KR", sans-serif !important;
  font-weight: 800;
}

.namebox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.playerImage6 {
  width: 80px;
  height: 110px;
  border-radius: 10px;
  border: 3px solid white;
  margin: 0 auto;
}

.miniCard {
  border: 1px solid;
  text-align: center;
  font-size: 12px;
  padding-bottom: 20px;
  padding-top: 30px;
  margin: 5px;
  background-color: rgb(6, 31, 77);
  border-radius: 10px;
  color: white;
  width: 70%;
  font-family: "IBM Plex Sans KR", sans-serif;

  // width: 180px;
  // height: 240px;
}

.myInfoContents {
  // display: flex;
  margin: 20px;
}

.fix {
  background-color: #360af8;
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
}
.logout {
  background-color: #f80a0a;
  color: white;
  padding: 8px;
  border-radius: 10px;
}

.userImg {
  width: 50%;
  margin: 0 auto;
}

.editbox {
  border-radius: 10px;
  width: 40%;
  margin: 0 auto;
  border: 3px solid rgb(6, 31, 77);
  padding: 20px;
  margin-top: 20px;
  // color: white;
}

.textbox {
  text-align: center;
}

.miniCard2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
  text-align: center;
  font-size: 15px;
  margin: 5px;
  background-color: rgb(6, 31, 77);
  border-radius: 10px;
  color: white;
  font-family: "IBM Plex Sans KR", sans-serif;

  width: 150px;
  height: 180px;
}

.playerImage2 {
  width: 70%;
  height: 70%;
  border-radius: 10px;
  margin: 0 auto;
}

.miniCard4 {
  border: 1px solid;
  text-align: center;
  font-size: 12px;
  padding-bottom: 20px;
  padding-top: 30px;
  margin: 5px;
  background-color: rgb(6, 31, 77);
  border-radius: 10px;
  color: white;
  width: 130px;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.main_title {
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
}

.gamebox_profile {
  // margin: 0 auto;
  border: 3px solid rgb(6, 31, 77);
  padding: 20px;
  border-radius: 10px;
  width: 25%;
  text-align: center;
}

.followList {
  border: 3px solid rgb(6, 31, 77);
  border-radius: 10px;
  width: 50%;
  margin-right: 40px;

  // margin-top: 20px !important;
  // margin: 0 auto;
  padding: 30px;
}

.one_game {
  background-color: rgb(6, 31, 77) !important;
  color: white !important;
  margin: 20px;
  padding: 16px;
  border-radius: 5px;
}

.top5 {
  font-size: 30px;
  font-weight: bold;
}
