/* tailwind.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.infoBox {
  display: flex;
  /* border: 1px solid; */
  margin: 0 auto;
  justify-content: center;
}

.playerInfo {
  text-align: center;
  margin: 0 auto;
}

.playerImage {
  display: flex;
  flex-direction: column;
}
