/* tailwind.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.infoBox {
  width: 1000px;
  display: flex;
  display: flex;
  flex-direction: row; /* 요소들을 가로로 정렬 */
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}

.playerInfo {
  text-align: center;
  margin: 0 auto;
}

.playerImage2 {
  display: flex;
  flex-direction: column;
}

.year {
  /* text-align: right; */
  margin-bottom: 20px;
}

.num {
  font-weight: bolder;
}

.container2 {
  /* border: 1px solid; */
  margin: 0 auto;
  padding: 30px;
  width: 1400px;
}

.f_button {
  width: 100%;
}

.photo_box {
  width: 320px;
  border: 5px solid rgb(6, 31, 77);
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
}

.scoreView {
  width: 320px;
  border: 5px solid rgb(6, 31, 77);
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
}

body {
  color: black !important;
}

.player_match {
  /* text-align: center; */
  border: 1px solid;
  width: 130px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  color: white;
  background-color: #061f4d;
}

.face {
  width: 100px !important;
  height: 130px;
  padding: 10px;
}

.player-image-container {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.modal_title {
  width: 80px;
  text-align: center;
  background-color: #061f4d;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.match_box {
  margin: 10px;
  text-align: center;
}

.red-text {
  color: red;
  font-weight: bolder;
}

.ok-button {
  color: red;
}

.modal1 {
  width: 700px;
  text-align: center;
  background-color: #061f4d;
  color: white;
  padding: 10px;
  margin: 10px;
  margin-left: 30px;
}

.modal_box2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
