.teamList {
  display: grid;
  grid-template-columns:  repeat(5, 1fr);
  gap: 3vw;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  perspective: 500px
}

.teamLogo {
  width: 10vw;
  height: 10vw;
  cursor: pointer;
  border-radius: 50%;
  border: rosybrown solid 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}