body {
  color: black;
}
.container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
}

.item1 {
  border: 1px solid;
}

.item2 {
  border: 1px solid;
}

.item3 {
  border: 1px solid;
}

.teamlogo {
  /* position: relative; */
  margin: 20px;
  width: 150px;
}
