.teamList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3vw;
  align-items: center;
  justify-items: center;
  // margin: 50px;
  perspective: 500px;
  border: 5px solid #5663a7;
  border-radius: 20px;
  padding: 150px;
}

.teamLogo {
  width: 12vw;
  height: 12vw;
  cursor: pointer;
  border-radius: 50%;
  border: rgb(16, 14, 14) solid 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
